#header {
    background-color: #eeeeee;
    border-bottom: 1px solid #e2e2e2;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

#btn-post {
    background-color: green;
}

#menu-config {
    margin-left: 5px;
}

#header-images {
    height: 40px;
    align-items: center;
    display: flex;
}

#header-images img {
    height: 100%;
    object-fit: contain;
}

#btn-view {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-4 {
    display: flex !important;
}